.header {
  display: flex;
  color: white;
  margin: 0px;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 50;
  height: 80px;
}
.disney-logo {
  margin-right: 20px;
  animation: nav-ani 1s forwards ease-in;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  width: 80vw;
  margin-top: 10px;
}
.nav-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  transition: text-shadow 2s;
  margin-right: 1em;
  animation: nav-ani 1s forwards ease-in;
}

@keyframes nav-ani {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  50% {
    transform: translateY(-15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.nav-row :hover {
  text-shadow: 0px 0px 6px;
}
.nav-row > img {
  width: 1.6em;
}

.profile {
  height: 5vh;
  border-radius: 50%;
  margin: 0px 4px;
}

.profilee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  font-size: 0.8rem;
  text-align: center;
  animation: nav-ani 1s forwards ease-in;
}
.profile-overlay {
  background-color: rgb(56, 56, 73);
  position: fixed;
  z-index: 50;
  right: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 0.6rem;
}

.logout-btn {
  border: 1px solid rgba(255, 255, 255, 0.9);
  padding: 0.4em 1.2em;
  border-radius: 5px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
  /* text-shadow: 0px 0px 8px; */
  /* box-shadow: inset 0 0 8px, 0 0 8px; */
  transition: background-color 0.3s, color 0.3s, text-shadow 0.3s,
    box-shadow 0.3s;
}

.logout-btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
  text-shadow: none;
  /* box-shadow: 0 0 8px white; */
  color: black;
  transition: background-color 0.3s, color 0.3s, text-shadow 0.3s,
    box-shadow 0.3s;
}
.ham-icon {
  display: none;
  animation: nav-ani 1s forwards ease-in;
}
.mob-list {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -22vw;
  gap: 2.5rem;
}
.mobnav-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 20px;
  gap: 0.5rem;
}
.mob-nav {
  position: fixed;
  z-index: 100;
  background-color: #090b13;
  top: 60px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  animation: hamani 0.2s both ease-in;
}

@keyframes hamani {
  0% {
    /* left: 100vw; */
    opacity: 0;
  }
  100% {
    /* left: 0px; */
    opacity: 1;
  }
}
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
  .header {
    background-color: #090b13;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .header {
    height: 80px;
  }
  .nav-container {
    display: none;
  }
  .disney-logo {
    height: 5vh;
    margin-left: -20px;
  }
  .profilee {
    display: none;
  }
  .ham-icon {
    display: inline;
    /* justify-self: flex-end; */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
}

/* .login-btn {
  border: 1px solid rgba(255, 255, 255, 0.9);
  padding: 0.4em 1.2em;
  border-radius: 5px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
  /* text-shadow: 0px 0px 8px; 
  /* box-shadow: inset 0 0 8px, 0 0 8px; 
  transition: background-color 0.3s, color 0.3s, text-shadow 0.3s,
    box-shadow 0.3s;
} */

/* .login-btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
  text-shadow: none;
  /* box-shadow: 0 0 8px white; 
  color: black;
  transition: background-color 0.3s, color 0.3s, text-shadow 0.3s,
    box-shadow 0.3s;
} */
